@use "abstracts" as *;

.container {
  margin-top: 150px;
  width: 90%;
  max-width: 1100px;

  > h3 {
    font-size: 24px;
    padding: 30px;
    color: $color-gray-100;
    text-shadow: 0 0 12px $color-primary-500, 0 0 50px $color-primary-500;
  }

  > ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 50px;
  }
}

.card {
  border-radius: 8px;
  width: 250px;
  height: 250px;
  background-color: $color-black;
  filter: drop-shadow(0px 0px 3px $color-primary-800);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
  transition: 0.3s;
  color: $color-gray-500;
  &:hover {
    filter: drop-shadow(0px 0px 12px $color-primary-800);
    color: $color-gray-100;
    text-shadow: 0 0 12px $color-primary-500, 0 0 50px $color-primary-500;
    scale: 1.1;
  }
}
.title {
  width: 180px;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 18px;
  font-weight: 600;
}

.language {
  font-size: 14px;
  font-weight: 500;
}

.descripton {
  font-size: 12px;
  font-weight: 500;
}

.btBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  > a {
    text-decoration: none;
    font-size: 16px;
    color: $color-gray-500;
    text-shadow: 0 0 5px $color-primary-800, 0 0 25px $color-primary-800;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: $color-gray-100;
      scale: 1.2;
      text-shadow: 0 0 12px $color-primary-500, 0 0 50px $color-primary-500;
    }
  }
}

@media (max-width: 768px) {
  .btBox {
    > a {
      text-shadow: 0 0 12px $color-primary-500, 0 0 50px $color-primary-500;
      color: $color-gray-100;
    }
  }
  .card {
    color: $color-gray-100;
  }
}
