@use "abstracts" as *;

.container {
  margin-top: 150px;
  width: 90%;
  max-width: 1100px;

  > h3 {
    font-size: 24px;
    padding: 30px;
    color: $color-gray-100;
    text-shadow: 0 0 12px $color-primary-500, 0 0 50px $color-primary-500;
  }

  > ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 50px;
  }
}

.card {
  border-radius: 8px;
  width: 250px;
  height: 250px;
  background-color: $color-black;
  filter: drop-shadow(0px 0px 5px $color-primary-800);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  > h4 {
    color: $color-gray-400;
  }
}

.title {
  font-size: 24px;
  color: $color-gray-400;
}

.cat {
  font-size: 16px;
  color: $color-gray-400;
}

.btBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
